<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>${self.title()} &ndash; Pilot</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection, print" />
  </head>
  <body>
    <div class="container_12">\
    ${self.body()}\
  </body>
</html>
