/*.db
/pilot.egg-info
/dev.ini
/quicktest.ini
/ext_dist
/srv-debug-env
/debug_env
/dist
/*.log
/*_log
/cp.ini
/build
/swig/*_wrap.c
/*.rpm
/version
/pilot.spec
/.ropeproject
/coverage_report
/.coverage
/Paste*.egg
/data/templates
